<div class="album-container">
    @if (name === '') {
        <h1>Nie ma takiego albumu w bazie danych</h1>
    } @else {
        <h1>{{name}}</h1>
        @for (artist of artist_list; track artist) {
            @if (artist.id | artistCheck | async) {
                <h3 [routerLink]="['/artist/'+artist.id]" class="artist-link">{{artist.name}}</h3>
            } @else {
                <h3>{{artist.name}}</h3>
            }
        }
        <p>Popularność - {{popularity}}%</p>
    
        <img [src]="image_url" class="card-img-top">
    
        @if (tracks.length > 0) {
            @for (item of tracks; track item) {
                <card-item
                    [id]="item.id"
                    [music_type]="'song'"
                    [name]="item.nr+'. '+item.name"
                    [content]="''"
                />
            }
        }
    }
</div>