<section class="signup container">
    <h1 class="entry-title"><span>Zakładanie konta użytkownika</span></h1><hr>
    <form [formGroup]="signupForm" (ngSubmit)="createUser()" class="form-horizontal" method="post" name="signup" id="signup">

      <div class="form-group">
        <label class="control-label col-sm-3">Nazwa użytkownika<span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <input type="text" class="form-control" name="mem_name" id="mem_name" value=""
                 formControlName="username">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Email<span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control" name="emailid" id="emailid"
                   value="" formControlName="email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Hasło<span class="text-danger">*</span></label>
        <div class="col-md-5 col-sm-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" id="password"
                   value="" formControlName="password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Powtórz hasło<span class="text-danger">*</span></label>
        <div class="col-md-5 col-sm-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="cpassword" id="cpassword"
                   value="" formControlName="repeatPassword">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
          <button [disabled]="!signupForm.valid" name="Submit" type="submit" class="btn btn-primary">Załóż konto
          </button>
        </div>
      </div>
    </form>

    @if (hasTried) {
      <p class="text-danger">Hasła różnią się od siebie. Upewnij się, że hasła w obu polach są takie same.</p>
    }
</section>
  
