<div>
    <form [formGroup]="songPick" (ngSubmit)="deleteSong()">
        <fieldset>
            <legend>Usuń piosenkę:</legend>
            <div>
                <input
                    [(ngModel)]="songQuery"
                    [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="updateSearchedSong()"
                    id="searchSongs"
                    type="search"
                    class="form-control"
                >
            </div>
            <div class="input-group"><label for="songs"></label>
                <select class="form-control" id="songs" formControlName="song_id" size="4">
                    @for (item of searched_songs; track item) {
                        <option [ngValue]="item.id">{{item.name}} -
                            @for (artist of item.artists; track artist) { {{artist.name}};}
                        </option>
                    }
                </select>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!songPick.valid">Usuń piosenkę z MusicBase</button>
            </div>
        </fieldset>
    </form>
</div>